/* Root */
:root {
  /* Active button color */
  --active-color: #404bbf;
  /* Logo color */
  --logo-color: #4d5ae5;
  --logo-color-one: #2e2f42;
  --logo-color-two: #f4f4fd;
  /* Nav color */
  --nav-color: #2e2f42;
  --address-color: #434455;
  /* Button service color */
  --button-studio-color: #ffffff;
  --button-studio-background-color: #4d5ae5;
  /* Button filter color */
  --button-portfolio-color: #4d5ae5;
  --button-portfolio-background: #f4f4fd;
  --button-portfolio-active-color: #ffffff;
  --border-color: #e7e9fc;
  /* Content color */
  --title-color: #ffffff;
  --title-text-color: #2e2f42;
  --background-team-color: #f4f4fd;
  --background-footer-color: #2e2f42;
  --primary-text-color: #434455;
  --team-list-background: #ffffff;
  --footer-text-color: #e7e9fc;
}
/* Hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Studio - Portfolio - Style */
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Navigation */
/* logo-Header */
.nav-logo > span {
  color: var(--logo-color);
}
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--logo-color-one);
  text-decoration: none;
  text-transform: uppercase;
}
/* Logo-Footer */
.footer-logo > span {
  color: var(--logo-color);
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--logo-color-two);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
}
/* Nav */
.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-nav .link {
  text-decoration: none;
  color: var(--nav-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--active-color);
}
/* Contacts */
.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts .link {
  text-decoration: none;
  color: var(--address-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--active-color);
}
.contacts .link:active {
  color: var(--active-color);
}
/* Studio Button */
.button.primary {
  font-family: inherit;
  cursor: pointer;
  background: var(--button-studio-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--button-studio-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button.primary:hover,
.button.primary:focus {
  background: var(--active-color);
}
/* Portfolio Buttons */
.button.secondary {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-portfolio-background);
  color: var(--button-portfolio-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.button.secondary:hover,
.button.secondary:focus {
  background: var(--active-color);
  color: var(--button-portfolio-active-color);
}
.button.secondary:active {
  background: var(--active-color);
  color: var(--button-portfolio-active-color);
}
/* Studio-Portfolio text styles*/
.hero {
  background: var(--background-footer-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 48px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}
.list {
  list-style: none;
}
/* Container */
.container {
  width: 1158px;
  padding: 0px 15px;
  margin: 0px auto;
}
/* Nav-container */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
/* Studio-container */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
}
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}
.service {
  padding-bottom: 120px;
}
.team {
  background: var(--background-team-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list .item {
  background: var(--team-list-background);
}
.team-list .img {
  padding-bottom: 32px;
}
.team-list p {
  padding-bottom: 32px;
}
/* Portfolio-container */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.btn-list {
  margin-bottom: 72px;
}
.project-list .img {
  padding-bottom: 32px;
}
.project-list p {
  padding-bottom: 32px;
}
/* Footer-container */
.footer {
  background: var(--background-footer-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
